<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="simpleProxySettings" type="SimpleProxy.Library.Configuration.SimpleProxyConfigurationSection, SimpleProxy.Library"/>
  </configSections>
  <simpleProxySettings>
    <listeners>
      <listener prefix="http://*:4242/"/>
    </listeners>
    <requestFilters>
      <filter name="whitelist" type="SimpleProxy.Library.Filters.WhitelistFilter" />
    </requestFilters>
    <whitelist>
      <add regex=".*[\.]reddit[\.]com" />
    </whitelist>
  </simpleProxySettings>
</configuration>
